header{
	width:100%;
	.top{
		height: 29px;
	    background: #f2f2f2;
	    border-bottom: 1px #e5e5e5 solid;
	    a{
	    	color: #6c6c6c;
    		display: block;
	    }
	    .cont{
	    	height: 29px;
		    line-height: 30px;
		    margin: 0 auto;
		    .left{
		    	float:left;
		    	li{
		    		float: left;
   					margin-right: 30px;
		    	}
		    }
		    .right{
		    	float:right;
		    	li{
		    		float: left;
    				padding: 0 12px;
    				i{
    					float: left;
					    width: 6px;
					    height: 29px;
					    margin-left: 7px;
    				}
    				span{
    					float:left;
    				}
		    	}
		    	.public{
		    		position: relative;
    				z-index: 399;
    				i{background: url("../css/img/topnav.png") no-repeat 0 -70px;}
    				&:hover{background:#fff;}
		    	}
	    		.wechat{
					overflow: hidden;
					width: 85px;
					height: 0px; 
					position: absolute;
					top: 30px;
					left: 0px;
					img{
						width: 85px;
					}
				}
				.phone{
					a{
						padding-left: 14px;
    					background: url("../css/img/topnav.png") no-repeat 0 0;
					}
				}
				.personal{
					overflow: hidden; 
					width: 85px; 
					height: 0px; 
					border: 1px solid #e5e5e5;
					border-top: none;
					background: #fff;
					position: absolute;
					top: 29px;
					left: -1px;
					li{
						clear: left;
					}
				}
				.server{
					overflow: hidden; 
					width: 85px; 
					height: 0px; 
					border: 1px solid #e5e5e5;
					border-top: none;
					background: #fff;
					position: absolute;
					top: 29px;
					left: -1px;
					li{
						clear: left;
					}
				}
		    }
	    } 
	}

	.center{
		background: #fff;
    	height: 108px;
    	.cont{
    		margin:0 auto;
    		.logo{
			    float: left;
			    width: 260px;
			    height: 108px;
				a img{
				    display: block;
				    width: 260px;
				    height: 108px;
				}
    		}
    		.search{
			    float: left;
				margin: 25px 0 0 80px;
				form{
					background: #fff;
    				height: 40px;
    				.text{
    					width: 318px;
    					height: 26px;
					    line-height: 28px;
					    padding: 5px 0px;
					    float: left;
					    background: #fff;
					    border: 2px #00c8ff solid;
					    padding-left: 10px;
					    color: #6c6c6c;
    				}
    				.btn{
    					width: 88px;
					    height: 40px;
					    float: left;
					    color: rgb(255, 255, 255);
					    font-size: 16px;
					    font-family: 微软雅黑;
					    cursor: pointer;
					    font-weight: bold;
					    letter-spacing: 2px;
					    text-align: center;
					    line-height: 40px;
					    border-width: 0px;
					    border-style: initial;
					    border-color: initial;
					    border-image: initial;
					    background: rgb(0, 200, 255);
    				}
				}
				ul{
					margin-top: 6px;
					li{
						float: left;
    					overflow: hidden;
    					a{
    						color: #6c6c6c;
						    margin: 0 9px;
						    float: left;
    					}
    					i{
    						font-style: normal;
						    width: 1px;
						    background: #c4c4c4;
						    height: 10px;
						    float: left;
						    margin-top: 2px;
    					}
					}
				}
    		}
    		.shopcar{
    			float: right;
			    width: 126px;
			    margin: 26px 2px 0 0;
			    position: relative;
			    z-index: 380;
			    .side{
			    	width: 30px;
				    height: 30px;
				    line-height: 27px;
				    position: absolute;
				    left: 26px;
				    top: -18px;
				    background: url() no-repeat top left;
				    z-index: 302;
				    color: #fff;
				    text-align: center;
				    display: none;
			    }
			    .myshopcar{
			    	display: block;
				    width: 79px;
				    height: 36px;
				    line-height: 36px;
				    padding-left: 45px;
				    color: #6c6c6c;
				    background: #fff url("../css/img/topnav.png") no-repeat 10px -210px;
				    overflow: hidden;
				    box-shadow: 0 0 2px #d8d8d8;
				    position: absolute;
				    top: 0;
				    left: 0;
				    z-index: 300;
				    border: 1px #e2e2e2 solid;
			    }
			    .shopgoods{
			    	display: none; 
			    	height: 160px; 
			    	padding-top: 0px; 
			    	margin-top: 0px; 
			    	padding-bottom: 10px; 
			    	margin-bottom: 0px;
			    }
    		}
    	}
	}

	.nav{
		height: 35px;
    	background: #00c8ff;
    	.cont{
    		height: 35px;
   			margin: 0 auto;
   			.menu{
   				float: left;
    			position: relative;
    			li{
    				float: left;
	    			&>a{
	    				display: block;
					    width: 120px;
					    height: 35px;
					    color: #fff;
					    text-align: center;
					    font-family: '微软雅黑';
					    line-height: 35px;
					    font-size: 14px;
					    overflow: hidden;
					    &:hover{background: #00647f;}
	    			}
	    			&:last-child>a{
	    				&:hover{
	    					.img{display: none;}
	    				}
	    			}
    			}
    			
    			.index{
    				background: #00647f;
    			}
    			.market{
    				&>a{
    					padding-right: 11px;
    					background: url("../css/img/mainnav.png") no-repeat right 0px;
    				}
					.list{
						overflow: hidden;
						width: 1065px;
						height: 0px;
					    position: absolute;
					    top: 35px;
					    left: 0px;
					    background: #fff;
					    padding: 0 30px 0 5px;
					    z-index: 200;
					    .product{
						    a{
								color: #6c6c6c;
							}
							dl{
								width: 360px;
							    margin: 40px 0 0 40px;
							    float: left;
							}
						    dt{
							    line-height: 23px;
							    padding-left: 21px;
							    width: 336px;
							    height: 23px;
							    padding: 0 0 6px 24px;
							    border-bottom: 1px #c4c4c4 dotted;
							    float: left;
							    a{
							    	font-size: 14px;
								    font-weight: bold;
								    background: #fff;
							    }
						    }
						    dd{
								float: left;
    							margin: 12px 20px 0 0px;
						    }
						    .hufu{
						    	background: url(../css/img/m_nav.png) no-repeat 0 0;
					    	    line-height: 23px;
								padding-left: 21px;
						    }
						    .yaoz{
						    	background: url(../css/img/m_nav.png) no-repeat 0 -30px;
						    	line-height: 18px;
						    }
						    .xihu{
						    	background: url(../css/img/m_nav.png) no-repeat 0 -60px;
								line-height: 24px;
    							padding-left: 21px;
						    }
						    .caiz{
						    	background: url(../css/img/m_nav.png) no-repeat 0 -90px;
						    	line-height: 24px;
						    }
					    }
					}
    			}	
   			}
   			.info{
   				float:right;
   				li{
   					overflow: hidden;
   					width: 0px;
				    float: left;
				    font-family: '微软雅黑';
				    color: #fff;
				    font-size: 14px;
				    height: 35px;
				    line-height: 35px;
				    padding-left: 26px;
				    margin-left: 8px;
				    cursor: pointer;
   				}
   				.baidu{background: url("../css/img/fournav.png") no-repeat 0 0;width: 0px}
   				.quality{background: url("../css/img/fournav.png") no-repeat 0 -35px;width: 0px}
   				.postage{background: url("../css/img/fournav.png") no-repeat 0 -105px;width: 0px}
   				.return{background: url("../css/img/fournav.png") no-repeat 0 -70px;width: 0px}
   			}
    	}
	}
}
main{
	.cont{
		margin: 35px auto;
		&>.title{
			height: 40px;
    		background: #fff;
    		&>p{
    			padding: 0 6px;
			    height: 22px;
			    line-height: 22px;
			    font-weight: bold;
			    margin-top: 9px;
			    float: left;
			    a{
			    	color: #6c6c6c;
			    }

    		}
    		&>i{
    			font-style: normal;
			    color: #6c6c6c;
			    font-weight: bold;
			    margin: 14px 15px 0;
			    float: left;
    		}
    		.self{
    			color: #ff643c;
    		}
		}
		.today{
		    min-height: 150px;
			background: #fff;
		    position: relative;
		    .text{
		    	width: 570px;
			    font-size: 16px;
			    line-height: 26px;
			    padding: 25px 0 25px 40px;
			    span{
			    	color: #ff643c;
			    }
		    }
		    .single{
		    	width: 310px;
			    height: 150px;
			    position: absolute;
			    right: 0;
			    top: 50%;
			    margin-top: -75px;
			    a{
			    	display: block;
				    width: 310px;
				    height: 150px;
				    img{
				    	display: block;
					    width: 235px;
					    height: 150px;
					    margin: 0 auto;
				    }
			    }
		    }
		}
		.goods{
			width: 880px;
		    background: #fff;
		    margin: 30px 0;
		    padding: 40px;
			.goodsImg{
				float: left;
				width: 350px;
				height: 350px;
				img{
					display: block;
				    width: 350px;
				    height: 350px;
				}
				.cloneImg{
					position: absolute;
				}
			}
			.goodsInfo{
				width: 490px;
			    float: right;
			    position: relative;
			    .title{
				    &>h1{
				    	font-size: 16px;
					    font-weight: bold;
					    line-height: 26px;
					    height: 52px;
					    overflow: hidden;
					    margin-bottom: 7px;
				    }
				    .dis{
				    	float: left;
				    	i{
				    		font-style: normal;
						    font-size: 20px;
						    font-family: 微软雅黑;
						    color: rgb(255, 100, 60);
				    	}
				    	em{
				    		font-style: normal;
						    font-size: 36px;
						    color: #ff643c;
				    	}
				    }
				    .face{
				    	float: left;
					    color: #c4c4c4;
					    margin-top: 19px;
					    span{
					    	margin-left: 10px;
					    }
					    del{
					    	font-family: 微软雅黑;
    						margin-left: -4px;
					    }
				    }
			    }
			    .assess{
			    	border-top: 1px #c4c4c4 solid;
				    border-bottom: 1px #c4c4c4 solid;
				    height: 44px;
				    margin-top: 12px;
				    p{
				    	margin-top: 15px;
				    	float: left;
				    }
			    }
			    .count{
			    	margin-top: 30px;
			    	&>span{
					    float: left;
					    width: 53px;
					    height: 24px;
					    line-height: 24px;
					    margin-right: 6px;
					    font-family: 宋体;
					    font-size: 12px;
					    color: rgb(108, 108, 108);
			    	}
			    	.amount{
			    		width: 77px;
					    height: 24px;
					    float: left;
					    border: 1px #e4e4e4 solid;
					    overflow: hidden;
					    input{
					    	font-weight: normal;
						    width: 29px;
						    height: 24px;
						    line-height: 24px;
						    text-align: center;
						    float: left;
						    font-size: 14px;
						    border: 0;
					    }
					    span{
					    	width: 24px;
						    height: 24px;
						    float: left;
						    cursor: pointer;
					    }
					    #jia{
					    	background: url(../css/img/updown.png) no-repeat 0 0;
					    }
					    #jian{
					    	background: url(../css/img/updown.png) no-repeat 0 -24px;
					    }
			    	}
			    }
			    .buyer{
			    	margin-top: 30px;
					.buy{
						margin-bottom: 15px;
						.add{
							width: 200px;
						    height: 45px;
						    float: left;
						    margin-right: 35px;
						    span{
						    	display: block;
								width: 137px;
								height: 45px;
								line-height: 45px;
								color: rgb(255, 255, 255);
								font-family: 微软雅黑;
								font-size: 24px;
								padding-left: 63px;
								background: url(../css/img/xingji.png) 0px -78px no-repeat rgb(255, 100, 60);
						    }
						}
						.cang{
							float: left;
						    color: #c4c4c4;
						    cursor: pointer;
						    padding-left: 23px;
						    margin-top: 17px;
						    background: url(../css/img/xingji.png) no-repeat 0 -60px;
						}
					}
			    }
			    .effect{
			    	&>span{
			    		float: left;
			    		width: 40px;
					    height: 20px;
					    line-height: 20px;
					    background: #00c8ff;
					    color: #fff;
					    text-align: center;
					    margin-right: 9px;
			    	}
			    	ul{
			    		li{
			    			float: left;
						    height: 20px;
						    line-height: 20px;
						    margin-right: 10px;
			    		}
			    	}
			    }
			}
		}
		.intro{
			margin-bottom: 30px;
		    width: 700px;
			float: right;
			h3{
				width: 700px;
			    height: 40px;
			    background: #6c6c6c;
			    color: #fff;
			    position: relative;
			    ul{
			    	padding-left: 37px;
			    	li{
			    		float: left;
    					margin-right: 45px;
    					a{
    						display: block;
						    font-size: 14px;
						    color: #fff;
						    height: 40px;
						    line-height: 40px;
    					}
			    	}
			    }
			}
			.detail{
				background: #fff;
    			padding: 16px 20px 20px;
				h2{
					font-size: 18px;
				    color: rgb(0, 0, 0);
				    font-family: 微软雅黑;
				    font-weight: normal;
				    padding-bottom: 5px;
				    overflow: hidden;
				    border-bottom: 1px solid rgb(196, 196, 196);
				}
				table{
					padding: 24px 0;
				    position: relative;
				    min-height: 239px;
				    border-collapse: collapse;
   					border-spacing: 0;
   					tbody{
   						display: table-row-group;
					    vertical-align: middle;
					    border-color: inherit;
					    tr{
					    	display: table-row;
						    vertical-align: inherit;
						    border-color: inherit;
						    td{
						    	word-wrap: break-word;
    							word-break: break-all;
    							line-height: 25px;
						    }
						    .title{
						    	font-weight: bold;
							    width: 60px;
							    vertical-align: top;
						    }
						    .cont{
						    	width: 300px;
							    vertical-align: top;
							    padding-left: 32px;
						    }
					    }
   					}
				}
			}
		}
	}
}
footer{
	clear: both;
    width: 100%;
    background: #fff;
    .intro{
    	margin: 0 auto 35px;
	    padding-top: 34px;
	    padding-left: 16px;
	    dl{
	    	float: left;
		    width: 122px;
		    margin-left: 20px;
		    dt{
		    	font-size: 14px;
			    font-weight: bold;
			    margin-bottom: 10px;
		    }
		    a{
		    	color: #6c6c6c;
			    font-size: 14px;
			    line-height: 24px;
			    display: block;
		    }
	    }
	    .public{
	    	margin-left: 8px;
	    }
	    .wechat{
	    	width: 103px;
    		float: right;
    		dt{
    			margin-left: 6px;
    		}
    		img{
    			display: block;
			    width: 103px;
			    height: 103px;
    		}
	    }
	    .method{
	    	font-weight: bold;
		    font-size: 14px;
		    margin-top: 6px;
	    }
	    .phone{
	    	color: #00c8ff;
		    font-weight: bold;
		    margin-top: 8px;
	    }
    }
    .center{
    	height: 35px;
    	background: #00c8ff;
    	ul{
    		margin: 0 auto;
    		padding-left: 58px;
		    text-align: center;
		    font-size: 0;
		    li{
		    	font-family: 微软雅黑;
			    color: rgb(255, 255, 255);
			    font-size: 14px;
			    font-weight: bold;
			    width: 134px;
			    height: 35px;
			    line-height: 35px;
			    display: inline-block;
			    padding-left: 30px;
			    text-align: left;
		    }
		    .baidu{background: url(../css/img/fournav.png) no-repeat 0 0;}
		    .quality{background: url(../css/img/fournav.png) no-repeat 0 -35px;}
		    .return{background: url(../css/img/fournav.png) no-repeat 0 -70px;}
		    .postage{background: url(../css/img/fournav.png) no-repeat 0 -105px;}
    	}
    }
    .links{
    	width: 1100px;
	    margin: 14px auto -10px;
	    height: 20px;
	    overflow: hidden;
    }
    .copyright{
    	margin: 0 auto;
    	padding: 26px 0 45px;
    	p{
    		text-align: center;
    	}
    	.text1{
    		margin-bottom: 7px;
    	}
    	.text2{
    		margin-bottom: 20px;
    	}
    	a{
    		color: #6c6c6c;
    	}
    }
    .sidebar{
    	width: 35px;
	    position: fixed;
	    top: 0;
	    right: 0px;
	    z-index: 1000;
	    min-height: 100%;
	    .panel{
	    	width: 35px;
		    height: 100%;
		    text-align: center;
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 20;
		    background: #6c6c6c;
		    li{
				position: relative;
				&>a{
					display: block;
    				width: 35px;
    				&:hover{
    					background-color: #00c8ff;
    				}
    				i{
    					display: block;
					    width: 35px;
					    height: 35px;
					    background: url(../css/img/sidebarico.png) no-repeat;
    				}
				}
				.tool_tip{
			    	width: 103px;
				    height: 35px;
				    line-height: 35px;
				    background: #6c6c6c;
				    text-align: center;
				    color: #fff;
				    position: absolute;
				    top: 0;
				    left: 0px;
				    display: none;
			    }
		    }
		    .partone{
		    	position: absolute;
			    top: 50%;
			    margin-top: -200px;
			    left: 0;
			    z-index: 10;
			    background: #6c6c6c;
			    .login{
			    	margin-bottom: 21px;
			    }
			    .shopcar{
			    	height: 126px;
			    	margin-bottom: 26px;
			    	i{
						background-position: 0 -35px;
			    	}
			    	.text{
			    		color: #fff;
					    display: block;
					    width: 15px;
					    margin: 5px auto 10px;
			    	}
			    	.count{
			    		color: #fff;
					    display: block;
					    width: 35px;
					    height: 35px;
					    line-height: 32px;
					    background: url(../css/img/sidebarico.png) no-repeat 0 -210px;
					    font-size: 14px;
			    	}
			    }
			    .like{
			    	margin-bottom: 8px;
			    	a{
			    		i{
			    			background-position: 0 -70px;
			    		}
			    	}
			    }
			    .foot{
			    	a{
			    		i{
			    			background-position: 0 -105px;
			    		}
			    	}
			    }
		    }
		    .parttwo{
		    	position: absolute;
			    bottom: 20px;
			    left: 0;
			    z-index: 9;
			    background: #6c6c6c;
			    .wechat{
			    	margin-bottom: 10px;
			    	&>a{
			    		i{
			    			background-position: 0 -140px;
			    		}
			    	}
			    }
			    .server{
			    	margin-bottom: 30px;
			    	&>a{
			    		i{
			    			background-position: 0 -175px;
			    		}
			    	}
			    }
			    .top{
			    	width: 35px;
    				height: 35px;
    				.up_triangle{
    					width: 0;
					    height: 0;
					    display: block;
					    margin: 0 auto;
					    margin-bottom: 3px;
					    border-width: 5px;
					    border-style: dashed dashed solid dashed;
					    border-color: transparent transparent #fff transparent;
    				}
    				span{
    					color: #fff;
    				}
			    }
		    }
	    }
    }
    .carlist{
    	width: 360px;
    	
    }
}