@import "header";
@import "footer";

main{
	margin-bottom: 35px;
    position: relative;
    margin: 0 auto;
    #play{
	    margin-bottom: 35px;
	    position: relative;
	    ul{
	    	width: 100%;
		    position: relative;
		    li{
		    	width: 100%;
			    height: 350px;
			    position: absolute;
		    	opacity:0;
		    	&:first-child{opacity:1;}
		    }
	    }
	    .page{
	    	position: absolute;
	    	span{
	    		display: inline-block;
	    		width: 20px;
	    		height: 20px;
	    		background: #6c6c6c;
	    		border-radius: 50%;
	    		margin: 0 5px;
	    		text-align: center;
	    		color: #aaa;
	    	}
	    	.active{background: #00c8ff;}
	    }
    }
    h1{
    	font-size: 24px;
	    color: rgb(0, 0, 0);
	    font-family: 微软雅黑;
	    font-weight: normal;
	    text-align: center;
    }
    #hot{
    	width: 1100px;
    	margin: 0 auto;
    	li{
    		width: 100%;
		    height: 350px;
		    margin-top: 20px;
		    overflow: hidden;
		    .img{
		    	width: 650px;
			    height: 350px;
			    float: left;
			    a,img{
			    	display: block;
			    }
		    }
		    
		    .info{
		    	width: 350px;
			    height: 324px;
			    background: #fff;
			    padding: 26px 50px 0;
			    float: left;
			    position: relative;
			    .time{
					text-align: center;
					font-size: 14px;
					color: #000;
					margin-bottom: 26px;
				    i{
				    	font-style: normal;
				    	margin-right: 11px;
				    }
			    }
			    .cont{
				    height: 154px;
				    margin-bottom: 40px;
				    span{
				    	color: #ff643c;
					    font-weight: bold;
					    letter-spacing: 1px;
				    }
				    a{
				    	color: #6c6c6c;
					    font-size: 16px;
					    line-height: 26px;
					    display: block;
				    }
			    }
			    .text{
			    	margin-bottom: 4px;
					overflow: hidden;
			    	.price{
			    		float: left;
			    		overflow: hidden;
			    		i{
			    			font-style: normal;
						    font-size: 20px;
						    font-family: 微软雅黑;
						    color: rgb(0, 0, 0);
						    float: left;
						    margin-top: 2px;
						    margin-left: -4px;
			    		}
			    		span{
			    			font-size: 36px;
						    float: left;
						    color: #000;
			    		}
			    		del{
			    			float: left;
						    color: rgb(108, 108, 108);
						    font-family: 微软雅黑;
						    margin-top: 18px;
						    margin-left: 6px;
			    		}
			    	}
			    	.btn{
					    float: right;
						a{
			    			display: block;
						    width: 140px;
						    height: 36px;
						    line-height: 36px;
						    font-family: 微软雅黑;
						    font-size: 20px;
						    color: rgb(255, 255, 255);
						    text-align: center;
						    background: rgb(255, 100, 60);
			    		}
			    	}	
			    }
			    .tips{
			    	p{
			    		float: right;
    					color: #c4c4c4;
			    	}
			    }
		    }
    	}
    }
    #brand{
    	position: relative;
    	width: 1100px;
    	margin: 0 auto;
    	margin-top: 35px;
		a{
			color: #6c6c6c;
		}		
    	.nav{
		    height: 30px;
    		margin-bottom: 12px;
		    border-bottom: 1px #6c6c6c solid;
		    ul{
		    	float: left;
		    	
		    	li{
		    		width: 140px;
				    height: 30px;
				    color: #000;
				    text-align: center;
				    font-size: 14px;
				    font-weight: bold;
				    float: left;
				    cursor: pointer;
				    position: relative;
				    i{
				    	width: 140px;
					    height: 2px;
					    background: #00c8ff;
					    position: absolute;
					    left: 0;
					    top: 29px;
					    display: none;
				    }
		    	}
		    	.active{
		    		color: #00c8ff;
		    		i{
		    			display: block;
		    		}
		    	}
		    }
		    .all{
		    	float: right;
    			margin-top: 2px;
		    }
    	}
    	.prev,.next{
    		position: absolute;
		    right: 230px;
		    bottom: 81px;
		    font-size: 44px;
		    color: #878e96;
		    z-index: 100;
		    cursor: pointer;
    	}
    	.next{
		    right: 8px;
		    bottom: 81px;
    	}
    	.small{
    		float: left;
		    width: 840px;
		    overflow: hidden;
		    ul{
		    	margin-top: -8px;
		    	li{
		    		float: left;
				    margin: 8px 8px 0 0;
				    img{
				    	display: block;
					    width: 160px;
					    height: 102px;
				    }
		    	}
		    }
    	}
    	.big{
    		float: right;
		    width: 260px;
		    height: 212px;
    	}
    }
    .search{
    	width: 1100px;
	    background: #fff;
	    padding: 30px 0;
	    margin: 35px auto;
	    .search_box{
	    	width: 600px;
   			margin: 0 auto;
   			form{
   				background: #fff;
    			height: 40px;
    			.text{
    				width: 498px;
    				height: 26px;
				    line-height: 28px;
				    padding: 5px 0px;
				    float: left;
				    background: #fff;
				    border: 2px #00c8ff solid;
				    padding-left: 10px;
				    color: #6c6c6c;
    			}
    			.btn{
    				border: 0;
				    background: #00c8ff;
				    width: 88px;
				    height: 40px;
				    float: left;
				    color: #fff;
				    font-size: 16px;
				    font-family: '微软雅黑';
				    cursor: pointer;
				    font-weight: bold;
				    letter-spacing: 2px;
				    text-align: center;
				    line-height: 40px;
    			}
   			}
   			ul{
   				margin-top: 6px;
   				li{
   					float: left;
    				overflow: hidden;
    				&:first-child{
    					margin-left: -7px;
    				}
    				a{
    					color: #6c6c6c;
					    margin: 0 9px;
					    float: left;
    				}
    				i{
    					font-style: normal;
					    width: 1px;
					    background: #c4c4c4;
					    height: 10px;
					    float: left;
					    margin-top: 2px;
    				}
   				}
   			}
	    }
    }
    .side{
    	display: none;
    	position: fixed;
	    left: 50%;
	    margin-left: -625px;
	    top: 200px;
	    li{
	    	width: 60px;
		    height: 60px;
		    background: #fff;
		    text-align: center;
		    margin-bottom: 1px;
		    &:hover{
		    	background: #00c8ff;
		    	a{
				    height: 20px;
				    border-bottom: 0;
		    	}
		    }
		    a{
		    	color: #6c6c6c;
			    width: 60px;
			    height: 59px;
			    display: block;
			    border-bottom: 1px #c4c4c4 dotted;
		    }
	    }
    	.index{
	    	a{
			    font-size: 14px;
			    height: 45px;
			    padding-top: 15px;
			    border-bottom: 0;
	    	}
	    }
	    .main{
	    	a{background: url(../css/img/snav.png) no-repeat 0 -60px;padding-top: 40px;}    
	    }
	    .group{
	    	a{background: url(../css/img/snav.png) no-repeat 0 -120px;padding-top: 40px;}    
	    }
	    .active{
	    	background: #00c8ff;
	    	a{
	    		color: #fff;
	    	}
	    }
    }
}
