body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
    outline: none;
}

.wrap{
	background: #f6f6f3;
    color: #6c6c6c;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}